# Predict Cement Strength

In [12]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical

concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')

## A (baseline model)

### Explore Data

In [3]:
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

### Identify Predictors and Targets

In [119]:
predictor_cols = concrete_data.columns[:-1]
target_cols = concrete_data.columns[-1]
print(f'features: {predictor_cols}\n\ntarget: {target_cols}')

features: Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age'],
      dtype='object')

target: Strength

In [120]:
predictors = concrete_data[predictor_cols]
targets = concrete_data[target_cols]

In [121]:
n_cols = len(predictor_cols)
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [122]:
targets.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

### Create Network

In [136]:
def network():
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error')

    return model

### Create Train\Test Split

In [137]:
X_train, X_test, y_train, y_test = train_test_split(predictors, targets,test_size=0.3, train_size=0.7)

In [138]:
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(721, 8) (309, 8)
(721,) (309,)

### Train

In [139]:
model = network()
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=50, verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 7ms/step - loss: 7024.6714 - val_loss: 4730.8032
Epoch 2/50
23/23 [==============================] - 0s 2ms/step - loss: 4302.6978 - val_loss: 4049.4175
Epoch 3/50
23/23 [==============================] - 0s 3ms/step - loss: 3779.8047 - val_loss: 3536.5867
Epoch 4/50
23/23 [==============================] - 0s 3ms/step - loss: 3314.8845 - val_loss: 3111.9751
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 2914.4260 - val_loss: 2734.4717
Epoch 6/50
23/23 [==============================] - 0s 3ms/step - loss: 2587.3171 - val_loss: 2411.5171
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 2302.5776 - val_loss: 2143.1763
Epoch 8/50
23/23 [==============================] - 0s 3ms/step - loss: 2074.8931 - val_loss: 1896.2196
Epoch 9/50
23/23 [==============================] - 0s 3ms/step - loss: 1837.6282 - val_loss: 1703.1072
Epoch 10/50
23/23 [==============================] - 0s 3ms/step - loss: 1673.0994 - val_loss: 1538.6176
Epoch 11/50
23/23 [==============================] - 0s 3ms/step - loss: 1520.3688 - val_loss: 1395.2635
Epoch 12/50
23/23 [==============================] - 0s 3ms/step - loss: 1383.7112 - val_loss: 1275.1318
Epoch 13/50
23/23 [==============================] - 0s 3ms/step - loss: 1300.0145 - val_loss: 1171.7585
Epoch 14/50
23/23 [==============================] - 0s 3ms/step - loss: 1190.6573 - val_loss: 1096.3168
Epoch 15/50
23/23 [==============================] - 0s 3ms/step - loss: 1091.2123 - val_loss: 1014.3071
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 1022.3921 - val_loss: 929.0659
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 962.9705 - val_loss: 894.7245
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 897.3820 - val_loss: 806.6887
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 827.2096 - val_loss: 761.4704
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 776.4169 - val_loss: 720.3019
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 733.2407 - val_loss: 667.1761
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 679.8619 - val_loss: 622.8616
Epoch 23/50
23/23 [==============================] - 0s 3ms/step - loss: 641.4045 - val_loss: 585.8541
Epoch 24/50
23/23 [==============================] - 0s 3ms/step - loss: 602.6516 - val_loss: 557.7247
Epoch 25/50
23/23 [==============================] - 0s 3ms/step - loss: 568.0242 - val_loss: 520.9509
Epoch 26/50
23/23 [==============================] - 0s 3ms/step - loss: 538.2544 - val_loss: 489.3153
Epoch 27/50
23/23 [==============================] - 0s 3ms/step - loss: 504.2710 - val_loss: 458.2563
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 470.1884 - val_loss: 434.7428
Epoch 29/50
23/23 [==============================] - 0s 3ms/step - loss: 444.8991 - val_loss: 407.8268
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 420.3987 - val_loss: 384.1983
Epoch 31/50
23/23 [==============================] - 0s 3ms/step - loss: 397.4047 - val_loss: 380.5383
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 373.8083 - val_loss: 344.4544
Epoch 33/50
23/23 [==============================] - 0s 3ms/step - loss: 361.6392 - val_loss: 340.9786
Epoch 34/50
23/23 [==============================] - 0s 4ms/step - loss: 333.8635 - val_loss: 307.7649
Epoch 35/50
23/23 [==============================] - 0s 3ms/step - loss: 317.0941 - val_loss: 292.1357
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 301.5358 - val_loss: 278.5025
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 282.9715 - val_loss: 265.1107
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 274.8007 - val_loss: 268.2315
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 262.6819 - val_loss: 241.6529
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 243.8953 - val_loss: 230.1256
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 232.7250 - val_loss: 219.9235
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 222.8338 - val_loss: 213.5210
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 213.3257 - val_loss: 213.2216
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 208.5770 - val_loss: 193.3754
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 196.1267 - val_loss: 186.5062
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 191.5505 - val_loss: 179.9837
Epoch 47/50
23/23 [==============================] - 0s 3ms/step - loss: 183.1922 - val_loss: 173.9269
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 177.5877 - val_loss: 167.9954
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 169.5095 - val_loss: 165.5206
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 164.7128 - val_loss: 158.5519

### Evaluate Model

In [140]:
# evaluate the model
MSE = model.evaluate(X_test, y_test, verbose=0)
print('Mean Squared Error: {}'.format(MSE))  
# model.predict(X_test) # If you want to see individual predictions

Mean Squared Error: 158.55186462402344

In [157]:
def repeat(num_MSEs=50):
    MSEs = []
    for i in range(num_MSEs):
        print(f'Calculating MSE {i+1} of {num_MSEs}')
        X_train, X_test, y_train, y_test = train_test_split(predictors, targets,test_size=0.3, train_size=0.7)
        reg_model = network()
        reg_model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=50, verbose=0)
        MSE = reg_model.evaluate(X_test, y_test, verbose=0)
        print(f'MSE: {MSE}')
        MSEs.append(MSE)
    avg_MSE = sum(MSEs) / num_MSEs
    return avg_MSE, MSEs
    
num_MSEs = 50 # 50
avg_MSE, MSEs = repeat(num_MSEs)
print(f'Average MSE for {num_MSEs}: {avg_MSE}')
print(f'Standard Deviation of MSEs: {np.std(MSEs)}')

Calculating MSE 1 of 50
MSE: 1097.5281982421875
Calculating MSE 2 of 50
MSE: 253.56646728515625
Calculating MSE 3 of 50
MSE: 261.31787109375
Calculating MSE 4 of 50
MSE: 211.30838012695312
Calculating MSE 5 of 50
MSE: 1110.8089599609375
Calculating MSE 6 of 50
MSE: 629.0878295898438
Calculating MSE 7 of 50
MSE: 94.53973388671875
Calculating MSE 8 of 50
MSE: 480.4676513671875
Calculating MSE 9 of 50
MSE: 110.02056884765625
Calculating MSE 10 of 50
MSE: 350.3126525878906
Calculating MSE 11 of 50
MSE: 94.47972106933594
Calculating MSE 12 of 50
MSE: 330.2684326171875
Calculating MSE 13 of 50
MSE: 144.80242919921875
Calculating MSE 14 of 50
MSE: 127.58815002441406
Calculating MSE 15 of 50
MSE: 314.4067077636719
Calculating MSE 16 of 50
MSE: 102.36164855957031
Calculating MSE 17 of 50
MSE: 270.2301330566406
Calculating MSE 18 of 50
MSE: 112.58744049072266
Calculating MSE 19 of 50
MSE: 203.0125732421875
Calculating MSE 20 of 50
MSE: 189.75669860839844
Calculating MSE 21 of 50
MSE: 335.78802490234375
Calculating MSE 22 of 50
MSE: 131.4481964111328
Calculating MSE 23 of 50
MSE: 492.50714111328125
Calculating MSE 24 of 50
MSE: 225.9759063720703
Calculating MSE 25 of 50
MSE: 82.46125793457031
Calculating MSE 26 of 50
MSE: 170.02880859375
Calculating MSE 27 of 50
MSE: 100.76655578613281
Calculating MSE 28 of 50
MSE: 108.8334732055664
Calculating MSE 29 of 50
MSE: 145.63467407226562
Calculating MSE 30 of 50
MSE: 215.10411071777344
Calculating MSE 31 of 50
MSE: 143.6343536376953
Calculating MSE 32 of 50
MSE: 210.0441131591797
Calculating MSE 33 of 50
MSE: 141.12423706054688
Calculating MSE 34 of 50
MSE: 736.095703125
Calculating MSE 35 of 50
MSE: 258.9511413574219
Calculating MSE 36 of 50
MSE: 125.61560821533203
Calculating MSE 37 of 50
MSE: 394.025146484375
Calculating MSE 38 of 50
MSE: 141.2795867919922
Calculating MSE 39 of 50
MSE: 301.9981384277344
Calculating MSE 40 of 50
MSE: 151.85765075683594
Calculating MSE 41 of 50
MSE: 546.881103515625
Calculating MSE 42 of 50
MSE: 253.41094970703125
Calculating MSE 43 of 50
MSE: 3128.009765625
Calculating MSE 44 of 50
MSE: 161.99546813964844
Calculating MSE 45 of 50
MSE: 366.1720886230469
Calculating MSE 46 of 50
MSE: 152.7595672607422
Calculating MSE 47 of 50
MSE: 112.536865234375
Calculating MSE 48 of 50
MSE: 95.07872772216797
Calculating MSE 49 of 50
MSE: 104.99134826660156
Calculating MSE 50 of 50
MSE: 117.46780395507812
Average MSE for 50: 322.8185952758789
Standard Deviation of MSEs: 458.88042934730186

In [152]:
print(f'MSEs list: {MSEs}')

MSEs list: [289.27825927734375, 138.51829528808594, 160.9105682373047, 1550.7999267578125, 340.1033630371094]

## B (Normalize Data)

### Normalize Predictors

In [153]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069
...,...,...,...,...,...,...,...,...
1025,-0.045623,0.487998,0.564271,-0.092126,0.451190,-1.322363,-0.065861,-0.279597
1026,0.392628,-0.856472,0.959602,0.675872,0.702285,-1.993711,0.496651,-0.279597
1027,-1.269472,0.759210,0.850222,0.521336,-0.017520,-1.035561,0.080068,-0.279597
1028,-1.168042,1.307430,-0.846733,-0.279443,0.852942,0.214537,0.191074,-0.279597
1029,-0.193939,0.308349,0.376762,0.891286,0.400971,-1.394385,-0.150675,-0.279597

In [158]:
def repeat(num_MSEs=50):
    MSEs = []
    for i in range(num_MSEs):
        print(f'Calculating MSE {i+1} of {num_MSEs}')
        X_train_norm, X_test_norm, y_train, y_test = train_test_split(predictors_norm, targets, test_size=0.3, train_size=0.7)
        reg_model = network()
        reg_model.fit(X_train_norm, y_train, validation_data=(X_test_norm, y_test), epochs=50, verbose=0)
        MSE = reg_model.evaluate(X_test_norm, y_test, verbose=0)
        print(f'MSE: {MSE}')
        MSEs.append(MSE)
    avg_MSE = sum(MSEs) / num_MSEs
    return avg_MSE, MSEs
    
num_MSEs = 50 # 50
avg_MSE, MSEs = repeat(num_MSEs)
print(f'Average MSE for {num_MSEs}: {avg_MSE}')
print(f'Standard Deviation of MSEs: {np.std(MSEs)}')

Calculating MSE 1 of 50
MSE: 239.16571044921875
Calculating MSE 2 of 50
MSE: 383.5220947265625
Calculating MSE 3 of 50
MSE: 295.8877258300781
Calculating MSE 4 of 50
MSE: 322.47125244140625
Calculating MSE 5 of 50
MSE: 339.86761474609375
Calculating MSE 6 of 50
MSE: 259.4003601074219
Calculating MSE 7 of 50
MSE: 298.04547119140625
Calculating MSE 8 of 50
MSE: 298.1614990234375
Calculating MSE 9 of 50
MSE: 286.5115051269531
Calculating MSE 10 of 50
MSE: 313.9725341796875
Calculating MSE 11 of 50
MSE: 285.58587646484375
Calculating MSE 12 of 50
MSE: 341.1405334472656
Calculating MSE 13 of 50
MSE: 295.13653564453125
Calculating MSE 14 of 50
MSE: 287.7839050292969
Calculating MSE 15 of 50
MSE: 337.8100891113281
Calculating MSE 16 of 50
MSE: 355.80804443359375
Calculating MSE 17 of 50
MSE: 378.502197265625
Calculating MSE 18 of 50
MSE: 419.2716369628906
Calculating MSE 19 of 50
MSE: 511.1379089355469
Calculating MSE 20 of 50
MSE: 306.6430969238281
Calculating MSE 21 of 50
MSE: 412.8627014160156
Calculating MSE 22 of 50
MSE: 294.4226989746094
Calculating MSE 23 of 50
MSE: 289.7170104980469
Calculating MSE 24 of 50
MSE: 416.6930236816406
Calculating MSE 25 of 50
MSE: 332.8207702636719
Calculating MSE 26 of 50
MSE: 294.1731872558594
Calculating MSE 27 of 50
MSE: 257.9624938964844
Calculating MSE 28 of 50
MSE: 392.6922607421875
Calculating MSE 29 of 50
MSE: 419.5382080078125
Calculating MSE 30 of 50
MSE: 303.145751953125
Calculating MSE 31 of 50
MSE: 671.0723266601562
Calculating MSE 32 of 50
MSE: 306.3943786621094
Calculating MSE 33 of 50
MSE: 404.18359375
Calculating MSE 34 of 50
MSE: 326.9629211425781
Calculating MSE 35 of 50
MSE: 345.50018310546875
Calculating MSE 36 of 50
MSE: 332.79815673828125
Calculating MSE 37 of 50
MSE: 399.4586486816406
Calculating MSE 38 of 50
MSE: 324.2413024902344
Calculating MSE 39 of 50
MSE: 375.0982360839844
Calculating MSE 40 of 50
MSE: 324.1407165527344
Calculating MSE 41 of 50
MSE: 268.751708984375
Calculating MSE 42 of 50
MSE: 337.3997802734375
Calculating MSE 43 of 50
MSE: 258.93328857421875
Calculating MSE 44 of 50
MSE: 432.62066650390625
Calculating MSE 45 of 50
MSE: 585.369384765625
Calculating MSE 46 of 50
MSE: 443.6728820800781
Calculating MSE 47 of 50
MSE: 259.1251525878906
Calculating MSE 48 of 50
MSE: 373.76043701171875
Calculating MSE 49 of 50
MSE: 445.3052062988281
Calculating MSE 50 of 50
MSE: 500.72235107421875
Average MSE for 50: 353.7073004150391
Standard Deviation of MSEs: 84.36758266814846

## C (Increase epochs)

### Increase epochs

In [159]:
epochs = 100

In [ ]:
def repeat(num_MSEs=50, epochs=50):
    MSEs = []
    for i in range(num_MSEs):
        print(f'Calculating MSE {i+1} of {num_MSEs}')
        X_train_norm, X_test_norm, y_train, y_test = train_test_split(predictors_norm, targets, test_size=0.3, train_size=0.7)
        reg_model = network()
        reg_model.fit(X_train_norm, y_train, validation_data=(X_test_norm, y_test), epochs=epochs, verbose=0)
        MSE = reg_model.evaluate(X_test_norm, y_test, verbose=0)
        print(f'MSE: {MSE}')
        MSEs.append(MSE)
    avg_MSE = sum(MSEs) / num_MSEs
    return avg_MSE, MSEs
    
num_MSEs = 50 # 50
avg_MSE, MSEs = repeat(num_MSEs, epochs=epochs)
print(f'Average MSE for {num_MSEs}: {avg_MSE}')
print(f'Standard Deviation of MSEs: {np.std(MSEs)}')

## D (Hidden Layers)

### Hidden Layers

In [163]:
def network():
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error')

    return model    


def repeat(num_MSEs=50, epochs=50):
    MSEs = []
    for i in range(num_MSEs):
        print(f'Calculating MSE {i+1} of {num_MSEs}')
        X_train_norm, X_test_norm, y_train, y_test = train_test_split(predictors_norm, targets, test_size=0.3, train_size=0.7)
        reg_model = network()
        reg_model.fit(X_train_norm, y_train, validation_data=(X_test_norm, y_test), epochs=epochs, verbose=0)
        MSE = reg_model.evaluate(X_test_norm, y_test, verbose=0)
        print(f'MSE: {MSE}')
        MSEs.append(MSE)
    avg_MSE = sum(MSEs) / num_MSEs
    return avg_MSE, MSEs
    
num_MSEs = 50 # 50
epochs = 50
avg_MSE, MSEs = repeat(num_MSEs, epochs=epochs)
print(f'Average MSE for {num_MSEs}: {avg_MSE}')
print(f'Standard Deviation of MSEs: {np.std(MSEs)}')

Calculating MSE 1 of 50
MSE: 133.46131896972656
Calculating MSE 2 of 50
MSE: 173.45700073242188
Calculating MSE 3 of 50
MSE: 134.04684448242188
Calculating MSE 4 of 50
MSE: 129.70494079589844
Calculating MSE 5 of 50
MSE: 112.15840148925781
Calculating MSE 6 of 50
MSE: 129.77734375
Calculating MSE 7 of 50
MSE: 126.45160675048828
Calculating MSE 8 of 50
MSE: 146.4435272216797
Calculating MSE 9 of 50
MSE: 146.7511749267578
Calculating MSE 10 of 50
MSE: 138.53726196289062
Calculating MSE 11 of 50
MSE: 144.56845092773438
Calculating MSE 12 of 50
MSE: 134.08062744140625
Calculating MSE 13 of 50
MSE: 129.0662078857422
Calculating MSE 14 of 50
MSE: 139.9160919189453
Calculating MSE 15 of 50
MSE: 135.40008544921875
Calculating MSE 16 of 50
MSE: 151.23500061035156
Calculating MSE 17 of 50
MSE: 137.7567901611328
Calculating MSE 18 of 50
MSE: 97.76695251464844
Calculating MSE 19 of 50
MSE: 150.49826049804688
Calculating MSE 20 of 50
MSE: 119.78180694580078
Calculating MSE 21 of 50
MSE: 140.07521057128906
Calculating MSE 22 of 50
MSE: 152.9788055419922
Calculating MSE 23 of 50
MSE: 137.01754760742188
Calculating MSE 24 of 50
MSE: 134.76174926757812
Calculating MSE 25 of 50
MSE: 103.03178405761719
Calculating MSE 26 of 50
MSE: 140.45626831054688
Calculating MSE 27 of 50
MSE: 151.1759490966797
Calculating MSE 28 of 50
MSE: 117.04489135742188
Calculating MSE 29 of 50
MSE: 121.95826721191406
Calculating MSE 30 of 50
MSE: 140.52391052246094
Calculating MSE 31 of 50
MSE: 152.53953552246094
Calculating MSE 32 of 50
MSE: 124.66820526123047
Calculating MSE 33 of 50
MSE: 93.95023345947266
Calculating MSE 34 of 50
MSE: 143.89866638183594
Calculating MSE 35 of 50
MSE: 134.48622131347656
Calculating MSE 36 of 50
MSE: 136.82521057128906
Calculating MSE 37 of 50
MSE: 134.3330841064453
Calculating MSE 38 of 50
MSE: 98.60429382324219
Calculating MSE 39 of 50
MSE: 128.33233642578125
Calculating MSE 40 of 50
MSE: 92.21990966796875
Calculating MSE 41 of 50
MSE: 120.84962463378906
Calculating MSE 42 of 50
MSE: 101.99493408203125
Calculating MSE 43 of 50
MSE: 140.06988525390625
Calculating MSE 44 of 50
MSE: 119.32679748535156
Calculating MSE 45 of 50
MSE: 117.88787078857422
Calculating MSE 46 of 50
MSE: 113.34744262695312
Calculating MSE 47 of 50
MSE: 95.49296569824219
Calculating MSE 48 of 50
MSE: 96.91729736328125
Calculating MSE 49 of 50
MSE: 131.65231323242188
Calculating MSE 50 of 50
MSE: 97.58570861816406
Average MSE for 50: 128.4973323059082
Standard Deviation of MSEs: 18.383156740573835